*{
	margin: 0;
	padding: 0;
}

header{
	.header-top{
		background: #808000;
		display: flex;
		align-items: center;
		padding: .5rem 3%;
		.contact-info{
			display: flex;
			div:first-child{
				margin-right: 1rem;
				border-right: 1px solid black;
				padding-right: 1rem;
			}
			span{
				white-space: nowrap;
			}
		}
		.search-box{
			margin-left: auto;
			input[type=text]{
				border: none;
				padding: .3rem 0;
			}
			input[type=submit]{
				padding: .25rem .2rem;
			}
		}
	}

	nav{
		font-family: 'Arimo', sans-serif;
		font-size: 1.2rem;
		background: #536170;

		.hamburgerButton{
			display: none;
		}

		ul{
			display: flex;
			align-items: center;
			margin-left: 3%;
		}
		li{
			list-style: none;
		}
		a{
			text-decoration: none;
			display: inline-block;
			color: white;
			padding: 1.7rem;
			&:hover{
				background: #3b4550;
			}
		}

		.dropdown-content {
		    display: none;
		    position: absolute;
		    background-color: #536170;
		    min-width: 16rem;
		    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		    z-index: 1;
		}

		.dropdown-content a {
		    color: white;
		    padding: 1.5rem 1.8rem;
		    text-decoration: none;
		    display: block;
		    text-align: left;
		}

		.dropdown-content a:hover {
			background-color: #3b4550;
		}

		.dropdown:hover .dropdown-content {
		    display: block;
		}
	}
}




// Media Query Starts ============================================================
@media(max-width: 1000px){
	header{
		nav{
			ul li{
				display: none;
			}
			.hamburgerButton{
				display: flex;
				align-items: center;
				padding-left: 3%;
				button{
					display: inline-block;
					padding: .4rem .5rem;
					cursor: pointer;
					margin-left: auto;
					margin-right: 1.5rem;
				}
			}
			ul{
				display: block;
			}
		}

		.toggleNav{
			display: block;
		}

		.li-hide{
			display: none;
		}
	}
}

@media(max-width: 600px){
	header{
		.header-top{
			display: block;
			text-align: center;
			.contact-info{
				justify-content: center;
				padding: .4rem 0;
				padding-bottom: .6rem;
			}
		}
	}
}

@media(max-width: 500px){

	header{
		nav{
			.hamburgerButton{
				a{
					padding: 1.2rem;
				}
				button{
					padding: .2rem .3rem;
					margin-right: .8rem;
				}
			}

			ul li a{
				padding: 1.2rem;
			}

			.dropdown-content {
			    min-width: 10rem;
			}

			.dropdown-content a {
			    padding: 1rem 1.3rem;
			}
		}
	}
}